# Ignore specific file
ActionsToTake.txt

# Ignore folders
src/main/__pycache__/
src/main/venv/
src/main/plots_/
src/main/OLDMISC/
src/main/UnderDevelopment/
.vscode/
src/main/wandb/
src/main/minigridModels/
src/main/validation/


# Ignore all files with these extensions
*.docx
*.drawio
*.xlsx
*__pycache__/
*.pytest_cache/
.env
rootkeyAWS.csv
instanceKeyPair.pem