# Ignore specific file
ActionsToTake.txt

# Ignore folders
__pycache__/
venv/
plots_/
OLDMISC/
UnderDevelopment/
.vscode
wandb/
minigridModels/
validation/

Plan of action.md

# Ignore all files with these extensions
*.docx
*.drawio
*.xlsx
