# Ignore specific file
ActionsToTake.txt

# Ignore folders
src/__pycache__/
src/venv/
src/plots_/
src/OLDMISC/
src/UnderDevelopment/
.vscode
src/wandb/
src/minigridModels/
src/validation/


# Ignore all files with these extensions
*.docx
*.drawio
*.xlsx
